

<h2>Restaurant Information</h2>

	<% for (var i = 0; i < restaurants.length; i++) { %>
		<% var restaurant = restaurants[i] %>
			<a href='restaurants/<%= restaurant.id %>'> 	
				<div class='restaurant-info'>

						<span class='restaurant'> <%= restaurant.name %> </span><br>
						<span> <%= restaurant.address %></span><br>
							<span> <%= restaurant.city %>, </span>
							<span> <%= restaurant.state %>, </span>
							<span> <%= restaurant.zipcode %></span><br><br>
						
				</div>
			</a> 
	<% } %> 