

<h2>Restaurant Information</h2>

	<div class='restaurant-info'>
			<span class='restaurant'> <%= restaurant.name %> </span><br>
			<span> <%= restaurant.address %></span><br>
				<span> <%= restaurant.city %>, </span>
				<span> <%= restaurant.state %>, </span>
				<span> <%= restaurant.zipcode %></span><br>
			<span> Cuisine: <%= restaurant.cuisine %></span><br>
			<span>Comment:</span>
	</div>